.idea/
.gradle
build/
obj/
*.iml
local.properties
.env
release.keystore
google-services.json
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
TMessagesProj/jni/ffmpeg/build_android
*.jks
*.keystore
*.pfx
*.apk
*.aab
agconnect-services.json
.env.*
.gradle/
.cxx/
**/build/
firebase_new/
cloudflare-workers/
analytics.settings
